<a href="https://colab.research.google.com/github/Sandwhaletree/Mai_Finlab/blob/main/A_%E7%94%9F%E6%B4%BB%E6%87%89%E7%94%A8/000_Interview_unicornfintech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### üìì**ÁÉΩÊ≥∞ÁßëÊäÄ_Èù¢Ë©¶È°åÁõÆ** ###
>TEST
Ë´ã‰ΩøÁî®RË™ûË®ÄÊàñÊòØPython‰ΩúÁ≠îÔºåÂÆåÊàêÂæåÂ∞áÁ≠îÊ°àÊà™Âúñ‰ª•ÂèäÁ®ãÂºèÁ¢ºÂõûÂÇ≥Áµ¶‰∫∫Ë≥á

* Q1.
ÈôÑÊ™î‚ÄùData.xlsx‚ÄùÊúâÂÖ©ÂÄãsheetsÔºåÂÖ∂‰∏≠‚Äù detail‚ÄùË®òÈåÑÂêÑÂÄãÂ∏≥Ëôü(login)Âú®3/1 ~ 3/10ÁöÑÊ•≠Á∏æÔºå‚Äù sales_info‚ÄùË®òÈåÑÂêÑÂÄãÂ∏≥Ëôü(login)ÊØèÂ§©ÁöÑÂ∞çÊáâÈä∑ÂîÆ(sales)Èóú‰øÇ„ÄÇ
Ex: login 6018658Âú®3/1ÁöÑÈä∑ÂîÆÁÇ∫‚ÄùChris Lizhuang‚Äù
(Ê™îÊ°àÂÖßgroupÊ¨Ñ‰Ωç = TESTÁÇ∫Ê∏¨Ë©¶ÁµÑÂà•ÔºåË´ãÂâîÈô§)

* Ë©¶Â∞éÂá∫3/1 ~ 3/5‰πãÂêÑÂÄãÈä∑ÂîÆÊ•≠Á∏æÔºå‰∏¶‰æùÁÖßPNLÊ¨Ñ‰ΩçÈÄ≤Ë°åÊéíÂêç„ÄÇ
Èä∑ÂîÆÊ•≠Á∏æÊ¨Ñ‰Ωç: pnl / volume / deposit / commission / bonus
bonusÁÇ∫‰∏ÄË®àÊï∏ÂñÆ‰ΩçÔºåËã•Â∏≥ËôüÁï∂Êó•depositÂ§ßÊñº3000ÔºåÂâáBonusË®à + 1
(25minutes)

In [ ]:
import os
os.chdir('/content/drive/MyDrive/python_maimai/job_interview/20220901_unicornfintech')

In [ ]:
#ËÆÄÂèñÊ™îÊ°à-sheet1
import pandas as pd

file_name ='./Data.xlsx'
work1 =pd.read_excel(file_name,sheet_name=0)
work1

,login,group,pnl,volume,commission,deposit,date
0,6018658,M_V_CAD,-3.851294,0.003012,0.000000,0.000000,2021-03-01
1,6019399,M_V_CAD,70.786312,0.035840,-0.158164,0.000000,2021-03-01
2,6019468,M_E_CAD,59.699014,0.116477,-3.321440,0.000000,2021-03-01
3,6019685,M_V_CAD,90.580541,0.159650,0.000000,0.000000,2021-03-01
4,6019739,M_E_CAD,-4.191347,0.031296,-0.854086,0.000000,2021-03-01
...,...,...,...,...,...,...,...
556,11000057,Test,-22.121449,0.065035,-0.475986,237.994003,2021-03-09
557,11000067,Test,17.250000,0.100289,-3.540000,300.000000,2021-03-09
558,11000049,Test,1433.770000,0.812268,-74.650000,0.000000,2021-03-10
559,11000056,Test,-958.940000,0.111674,-10.500000,0.000000,2021-03-10
560,11000057,Test,32.124662,0.188870,-0.238579,0.000000,2021-03-10

In [ ]:
##ËÆÄÂèñÊ™îÊ°à-sheet2
work2 =pd.read_excel(file_name,sheet_name=1)
work2

        login                sales       date
0     6018049       Chris Lizhuang 2021-03-01
1     6018442       Chris Lizhuang 2021-03-01
2     6018528       Chris Lizhuang 2021-03-01
3     6018585            Lu Chenlu 2021-03-01
4     6018658       Chris Lizhuang 2021-03-01
..        ...                  ...        ...
911  11000051        Zoe Hsujungyi 2021-03-10
912  11000056    Amber Huyahan ECN 2021-03-10
913  11000057      Sally Liuyuntao 2021-03-10
914  11000058      Eric Leeyanfeng 2021-03-10
915  11000067  Sally Liuyuntao ECN 2021-03-10

[916 rows x 3 columns]

#### üëâ 1.Ê™îÊ°àÂÖßgroupÊ¨Ñ‰Ωç = TESTÁÇ∫Ê∏¨Ë©¶ÁµÑÂà•ÔºåË´ãÂâîÈô§ ####

In [ ]:
#Êü•ÁúãÊúâtestÁ≠ÜÊï∏
group_test = [x == "Test" for x in work1['group']]
work1[group_test]

,login,group,pnl,volume,commission,deposit,date
535,11000037,Test,0.000000,0.000000,0.000000,300.000000,2021-03-01
536,11000049,Test,83.660000,0.335437,-28.800000,0.000000,2021-03-01
537,11000049,Test,-1320.160000,0.455173,-39.150000,0.000000,2021-03-02
538,11000056,Test,11.390000,0.000303,-0.030000,200.000000,2021-03-02
539,11000049,Test,-614.440000,1.588803,-119.750000,0.000000,2021-03-03
540,11000056,Test,-259.540000,0.236208,-20.830000,5000.000000,2021-03-03
541,11000058,Test,2.000000,0.021289,0.000000,210.000000,2021-03-03
542,11000049,Test,-694.600000,1.990392,-168.450000,0.000000,2021-03-04
543,11000051,Test,14.150000,0.003654,-0.150000,1000.000000,2021-03-04
544,11000056,Test,-392.720000,0.780913,-73.500000,0.000000,2021-03-04
545,11000058,Test,0.370000,0.001712,0.000000,0.000000,2021-03-04
546,11000049,Test,5592.820000,1.680580,-150.750000,0.000000,2021-03-05
547,11000051,Test,-373.070000,0.002520,-0.100000,0.000000,2021-03-05
548,11000056,Test,9600.680000,2.043931,-186.000000,6400.000000,2021-03-05
549,11000049,Test,3717.600000,2.033190,-180.400000,0.000000,2021-03-08
550,11000051,Test,-40.450000,0.001156,-0.050000,0.000000,2021-03-08
551,11000056,Test,2705.000000,4.028440,-156.000000,3000.000000,2021-03-08
552,11000058,Test,0.000000,0.000000,0.000000,0.000000,2021-03-08
553,11000049,Test,1337.720000,0.460350,-38.150000,0.000000,2021-03-09
554,11000051,Test,0.000000,0.000000,0.000000,0.000000,2021-03-09
555,11000056,Test,-348.450000,0.301651,-18.000000,0.000000,2021-03-09
556,11000057,Test,-22.121449,0.065035,-0.475986,237.994003,2021-03-09
557,11000067,Test,17.250000,0.100289,-3.540000,300.000000,2021-03-09
558,11000049,Test,1433.770000,0.812268,-74.650000,0.000000,2021-03-10
559,11000056,Test,-958.940000,0.111674,-10.500000,0.000000,2021-03-10
560,11000057,Test,32.124662,0.188870,-0.238579,0.000000,2021-03-10

In [ ]:
#Êü•ÁúãÊúâtestÁ≠ÜÊï∏
group_test_delete = [x != "Test" for x in work1['group']]
work1[group_test_delete]

       login    group          pnl    volume  commission  deposit        date
0    6018658  M_V_CAD    -3.851294  0.003012    0.000000      0.0  2021-03-01
1    6019399  M_V_CAD    70.786312  0.035840   -0.158164      0.0  2021-03-01
2    6019468  M_E_CAD    59.699014  0.116477   -3.321440      0.0  2021-03-01
3    6019685  M_V_CAD    90.580541  0.159650    0.000000      0.0  2021-03-01
4    6019739  M_E_CAD    -4.191347  0.031296   -0.854086      0.0  2021-03-01
..       ...      ...          ...       ...         ...      ...         ...
530  8202713  M_V_CAD  2945.305288  2.797816    0.000000      0.0  2021-03-10
531  8202813  M_E_CAD  -158.406662  0.056507   -2.139440      0.0  2021-03-10
532  8202827  M_E_CAD   -16.331156  0.006034   -0.332802      0.0  2021-03-10
533  8203254  M_E_CAD    -8.724213  0.019382   -1.109340      0.0  2021-03-10
534  8203322  M_E_CAD   -12.971422  0.088579   -3.328020      0.0  2021-03-10

[535 rows x 7 columns]

In [ ]:
work1[group_test_delete].shape #ÂÖ±26Á≠Ütest

(535, 7)

In [ ]:
work1.shape #ÂÖ±561Á≠ÜË≥áÊñô

(561, 7)

In [ ]:
#Ê≤íÊúâtest‰πãË≥áÊñô>>È†êË®àÁÇ∫561-26=535Á≠Ü
group_notest = [x != "Test" for x in work1['group']]
work3 = work1[group_notest]
work3

       login    group          pnl    volume  commission  deposit        date
0    6018658  M_V_CAD    -3.851294  0.003012    0.000000      0.0  2021-03-01
1    6019399  M_V_CAD    70.786312  0.035840   -0.158164      0.0  2021-03-01
2    6019468  M_E_CAD    59.699014  0.116477   -3.321440      0.0  2021-03-01
3    6019685  M_V_CAD    90.580541  0.159650    0.000000      0.0  2021-03-01
4    6019739  M_E_CAD    -4.191347  0.031296   -0.854086      0.0  2021-03-01
..       ...      ...          ...       ...         ...      ...         ...
530  8202713  M_V_CAD  2945.305288  2.797816    0.000000      0.0  2021-03-10
531  8202813  M_E_CAD  -158.406662  0.056507   -2.139440      0.0  2021-03-10
532  8202827  M_E_CAD   -16.331156  0.006034   -0.332802      0.0  2021-03-10
533  8203254  M_E_CAD    -8.724213  0.019382   -1.109340      0.0  2021-03-10
534  8203322  M_E_CAD   -12.971422  0.088579   -3.328020      0.0  2021-03-10

[535 rows x 7 columns]

* Ë©¶Â∞éÂá∫3/1 ~ 3/5‰πãÂêÑÂÄãÈä∑ÂîÆÊ•≠Á∏æÔºå‰∏¶‰æùÁÖßPNLÊ¨Ñ‰ΩçÈÄ≤Ë°åÊéíÂêç„ÄÇ
Èä∑ÂîÆÊ•≠Á∏æÊ¨Ñ‰Ωç: pnl / volume / deposit / commission / bonus
bonusÁÇ∫‰∏ÄË®àÊï∏ÂñÆ‰ΩçÔºåËã•Â∏≥ËôüÁï∂Êó•depositÂ§ßÊñº3000ÔºåÂâáBonusË®à + 1
(25minutes)

In [ ]:
#‰∫ÜËß£depositÊúÄÂ§ßËàáÊúÄÂ∞èÂÄº
work3.sort_values(by="deposit", ascending=False)

,login,group,pnl,volume,commission,deposit,date
246,7002053,M_E_CAD,1936.027787,0.864358,-48.21600,7104.515137,2021-03-04
137,8202813,M_E_CAD,80.758685,0.089048,-4.93761,2373.849609,2021-03-02
288,7001080,M_E_CAD,763.850470,0.228079,-13.65680,2370.979248,2021-03-05
304,8200156,M_E_CAD,0.000000,0.000000,0.00000,2370.979248,2021-03-05
253,8200156,M_E_CAD,0.000000,0.000000,0.00000,2368.171753,2021-03-04
...,...,...,...,...,...,...,...
179,7001973,M_V_CAD,-4.559517,0.000000,0.00000,0.000000,2021-03-03
177,7001882,M_E_CAD,35.946692,0.418257,-15.69350,0.000000,2021-03-03
176,7001760,M_E_CAD,160.728891,0.034873,0.00000,0.000000,2021-03-03
175,7001635,M_E_CAD,42.663485,0.000000,0.00000,0.000000,2021-03-03
534,8203322,M_E_CAD,-12.971422,0.088579,-3.32802,0.000000,2021-03-10

In [ ]:
work3['Bonus']=work3['deposit'].apply(lambda x:1 if x>3000 else 0)

<ipython-input-11-7a39954928d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work3['Bonus']=work3['deposit'].apply(lambda x:1 if x>3000 else 0)

In [ ]:
work3

,login,group,pnl,volume,commission,deposit,date,Bonus
0,6018658,M_V_CAD,-3.851294,0.003012,0.000000,0.0,2021-03-01,0
1,6019399,M_V_CAD,70.786312,0.035840,-0.158164,0.0,2021-03-01,0
2,6019468,M_E_CAD,59.699014,0.116477,-3.321440,0.0,2021-03-01,0
3,6019685,M_V_CAD,90.580541,0.159650,0.000000,0.0,2021-03-01,0
4,6019739,M_E_CAD,-4.191347,0.031296,-0.854086,0.0,2021-03-01,0
...,...,...,...,...,...,...,...,...
530,8202713,M_V_CAD,2945.305288,2.797816,0.000000,0.0,2021-03-10,0
531,8202813,M_E_CAD,-158.406662,0.056507,-2.139440,0.0,2021-03-10,0
532,8202827,M_E_CAD,-16.331156,0.006034,-0.332802,0.0,2021-03-10,0
533,8203254,M_E_CAD,-8.724213,0.019382,-1.109340,0.0,2021-03-10,0
534,8203322,M_E_CAD,-12.971422,0.088579,-3.328020,0.0,2021-03-10,0

In [ ]:
#ÂàÜÁµÑ3/1 ~ 3/5‰πãÂêÑÂÄãÈä∑ÂîÆÊ•≠Á∏æ
mask = (work3['date'] >= '2021-03-01') & (work3['date'] <= '2021-03-05') #Âè™ÂèñÂæódateÊ¨Ñ‰Ωç‰∏≠Â§ßÊñºÊàñÁ≠âÊñº3/1‰∏îÂ∞èÊñºÊàñÁ≠âÊñº3/5ÁöÑË≥áÊñô

In [ ]:
print(type(mask))

<class 'pandas.core.series.Series'>

In [ ]:
work3_gourp = work3.loc[mask]

In [ ]:
work3_gourp

,login,group,pnl,volume,commission,deposit,date,Bonus
0,6018658,M_V_CAD,-3.851294,0.003012,0.000000,0.000000,2021-03-01,0
1,6019399,M_V_CAD,70.786312,0.035840,-0.158164,0.000000,2021-03-01,0
2,6019468,M_E_CAD,59.699014,0.116477,-3.321440,0.000000,2021-03-01,0
3,6019685,M_V_CAD,90.580541,0.159650,0.000000,0.000000,2021-03-01,0
4,6019739,M_E_CAD,-4.191347,0.031296,-0.854086,0.000000,2021-03-01,0
...,...,...,...,...,...,...,...,...
315,8202564,M_E_CAD,39.318739,0.327861,-11.380700,0.000000,2021-03-05,0
316,8202713,M_V_CAD,0.000000,0.000000,0.000000,790.326416,2021-03-05,0
317,8202808,M_E_CAD,0.592745,0.000500,0.000000,0.000000,2021-03-05,0
318,8202813,M_E_CAD,65.684028,0.060565,-2.086460,0.000000,2021-03-05,0
319,8202827,M_E_CAD,21.931558,0.030480,-0.853553,0.000000,2021-03-05,0

In [ ]:
#‰æùÁÖßPNLÊ¨Ñ‰ΩçÈÄ≤Ë°åÊéíÂêç
work3_sorted = work3_gourp.sort_values('pnl', ascending=False)

In [ ]:
work3_sorted[work3_sorted['Bonus'] == 1]

,login,group,pnl,volume,commission,deposit,date,Bonus
246,7002053,M_E_CAD,1936.027787,0.864358,-48.216,7104.515137,2021-03-04,1