<a href="https://colab.research.google.com/github/Sandwhaletree/Mai_Finlab/blob/main/A_%E7%94%9F%E6%B4%BB%E6%87%89%E7%94%A8/B5_%E6%98%9F%E5%B7%B4%E5%85%8B_pandas_%E6%B8%85%E6%B4%97%E6%95%B8%E6%93%9A_230919.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### üëâÊòüÂ∑¥ÂÖã‰ΩçÁΩÆÂúñ ###

In [ ]:
#ËÆÄÂèñÊòüÂ∑¥ÂÖã‰ΩçÁΩÆÂúñ #[kaggle]Starbucks Locations Worldwide:https://www.kaggle.com/datasets/starbucks/store-locations?resource=download
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/colab_could/kaggle/starbucks_locations.csv")
df

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguy·ªÖn Hu·ªá, Qu·∫≠n 1, G√≥c ƒë∆∞·ªùng Pasteur v√† L...",Th√†nh Ph·ªë H·ªì Ch√≠ Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, T√≤a Nh√† Panorama, 208 Tr·∫ßn VƒÉn Tr√†, Qu·∫≠n 7",Th√†nh Ph·ªë H·ªì Ch√≠ Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02

In [ ]:
#Ë®àÁÆóÊüêÊ¨ÑÁöÑÂàÜÁµÑË≥áÊñô #Â¶Ç:Ë®àÁÆóÊ¨Ñ‰Ωçjob‰∏≠ÊúâÂ§öÂ∞ëËÅ∑Ê•≠(5ÂÄãËÅ∑Ê•≠)
Country_count = df.value_counts('Country')
print(Country_count)

Country
US    13608
CN     2734
CA     1468
JP     1237
KR      993
      ...
CW        3
AW        3
MC        2
LU        2
AD        1
Length: 73, dtype: int64

In [ ]:
#Âà©Áî®Áæ§ÁµÑÂåñÊñπÂºèÊéåÊè°Êï¥È´îË≥áÊñô
Country_group = df.groupby(['Country'])
print(Country_group) #Áæ§ÁµÑÂåñÂæåÔºåÂæóÂà∞DataFrameGroupByÁâ©‰ª∂

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ff1281ebc10>

In [ ]:
Country_group.get_group('US') #Ê™¢Ë¶ñÁæ§ÁµÑ"US"

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77

In [ ]:
#ÊÉ≥Áü•ÈÅìÂêÑÁæ§ÁµÑÁöÑOwnership Type
print(Country_group['Ownership Type'].value_counts())

Country  Ownership Type
AD       Licensed             1
AE       Licensed           144
AR       Licensed           107
         Joint Venture        1
AT       Company Owned       17
                           ...
TW       Joint Venture      394
US       Company Owned     8226
         Licensed          5382
VN       Licensed            25
ZA       Licensed             3
Name: Ownership Type, Length: 91, dtype: int64

In [ ]:
#Pandas aggregateÂåØÁ∏ΩÊ¨Ñ‰ΩçË≥áÊñôÊñπÊ≥ï

### üëâ104ËÅ∑Áº∫ ###