<a href="https://colab.research.google.com/github/Sandwhaletree/Mai_Finlab/blob/main/%E8%82%A1%E7%A5%A8%E8%B2%A1%E5%8B%99%E5%88%86%E6%9E%90/B02_%E5%80%8B%E8%82%A1%E6%97%A5%E6%9C%AC%E7%9B%8A%E6%AF%94%E3%80%81%E6%AE%96%E5%88%A9%E7%8E%87%E5%8F%8A%E8%82%A1%E5%83%B9%E6%B7%A8%E5%80%BC%E6%AF%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [台灣證券交易所-112年07月28日 個股日本益比、殖利率及股價淨值比](https://www.twse.com.tw/pcversion/zh/page/trading/exchange/BWIBBU_d.html)

In [ ]:

#台灣證券交易所-除權除息計算結果表[獲取一段區間之除權除息計算結果表]
# start_date_str, end_date_str, days=start_date_fun()
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990904
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990905

水泥
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990906
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990907
https://www.twse.com.tw/rsrc/lib/table/zh.json?_=1690560990908

https://www.twse.com.tw/pcversion/zh/page/trading/exchange/BWIBBU_d?

#網址
url = f"https://www.twse.com.tw/rwd/zh/exRight/TWT49U?startDate={start_date_str}&endDate={end_date_str}&response=json&_=16902521"
response = requests.get(url)
data = response.json()

#轉成pandas

data = pd.DataFrame(data['data'])

# 更改欄位名稱
new_columns = ['日期', '股票代碼', '股票名稱', '除權息前收盤價', '除權息參考價', '權值+息值', '權/息', '漲停價', '跌停價', '開盤競價基準', '減除股利參考價', '詳細資料1', '詳細資料2', '最近一次申報每股 (單位)淨值', '最近一次申報每股 (單位)盈餘']
data.columns = new_columns

In [2]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20230511' #財報年份，忽略月和日
r = requests.post('https://www.twse.com.tw/exchangeReport/BWIBBU_d?response=csv&date=' + datestr + '&selectType=ALL' )
csv= StringIO( '\n'.join(r.text.split("\n")[1:-17]))  #刪除首行和倒數四行說明文字，只留下表格
df = pd.read_csv( csv )
print(r.text.split("\n")[-17:])  #印出刪除的說明文字，提醒一下注意事項
df

['""\r', '"說明： ', '', '本網頁資料僅供研究參考用途，任何資料均不應視為對買賣證券之投資建議。', '', '\r', '本網頁資料推計基礎如下：\r', '1. 本益比 = 收盤價／每股參考稅後純益，其中每股參考稅後純益 = 該公司稅後參考純益／發行參考股數，當每股參考稅後純益為0或負數時，則不計算本益比。以上純益資料採用各上市公司於公開資訊觀測站過去已申報格式化之近滿4季財務報告為計算基礎。依據一般公認會計準則，若新設公司非於1月1日設立，該公司申報全年度合併財務報表採用自設立日起編製，未追溯自年初編製，當遇有上開公司在計算其「本益比」時，仍採用該公司申報資料計算。例如合庫金控(5880)於100年12月1日設立，在上市初期該公司「本益比」所採計之最近四季稅後純益為自成立以來迄至100年底之稅後純益計算，特此說明。 \r', '2. 殖利率 = 每股股利／收盤價*100%，其中每股股利採用該公司近期每股配發之盈餘分配之現金股利(元/股) + 法定盈餘公積、資本公積發放之現金 (元/股) + 盈餘轉增資股票股利(元/股)為計算基礎。 \r', '3. 股價淨值比 = 收盤價／每股參考淨值，其中每股參考淨值採用公開資訊觀測站公告之最近一季每股參考淨值，於102年5月中旬之前採用該公司最近一季淨值除以除權變動之採樣股數為推計基礎。\r', '4. 股利年度：計算殖利率，所採用上市公司於公開資訊觀測站公告之股利分派年度。(如股利年度為105，表示該公司以105年之盈餘分派股利)\r', '5. 財報年／季：計算本益比及股價淨值比，所參考上市公司於公開資訊觀測站申報之財務報告年度季別。\r', '6. 本網頁所採用發行參考股數是以公開資訊觀測站公告最近一季財務報表之淨值及每股參考淨值為推計基礎，於102年5月中旬之前採用除權變動之採樣股數為推計基礎。上市公司於公開資訊觀測站未申報格式化之財務報告或未齊全者，不計算本益比及股價淨值比或以其申報及相關資料推計。以上本網頁所採用之財務及股利相關資料為計算當時公開資訊觀測站已公告申報格式化之資料，而非同期即時資訊，且不作回溯計算，謹此說明。當日若無收盤價則以本公司營業細則第58-3條第2項第2款之原則所決定價格替代。\r', '7. 股利年度及財報年/季資訊自民國106年4月12日起提供。\r', '8. 股票名稱有附註「*」為每股面額非新台幣10元股票，其本益比、殖利率及股價淨值比之數值自面額變更換發新股即配合調整計算。"\r', '\r', '']

     證券代號  證券名稱  殖利率(%)  股利年度    本益比  股價淨值比  財報年/季  Unnamed: 7
0    1101    台泥    1.31   111  51.62   1.29  111/4         NaN
1    1102    亞泥    5.25   111  12.94   0.97  111/4         NaN
2    1103    嘉泥    2.53   111      -   0.57  112/1         NaN
3    1104    環泥    6.06   111   9.52   0.93  111/4         NaN
4    1108    幸福    4.98   111  11.15   1.32  111/4         NaN
..    ...   ...     ...   ...    ...    ...    ...         ...
969  9944    新麗    4.95   111  10.00   0.66  111/4         NaN
970  9945   潤泰新   19.89   110  12.14   1.41  111/4         NaN
971  9946  三發地產    3.08   111  35.77   0.70  112/1         NaN
972  9955    佳龍    0.00   110      -   1.97  111/4         NaN
973  9958   世紀鋼    0.50   111  62.89   3.34  111/4         NaN

[974 rows x 8 columns]